{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - css: A list of CSS files for the current page.
 * - head: Markup for the HEAD element (including meta tags, keyword tags, and
 *   so on).
 * - head_title: A modified version of the page title, for use in the TITLE tag.
 * - head_title_array: List of text elements that make up the head_title
 *   variable. May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - styles: Style tags necessary to import all necessary CSS files in the head.
 * - scripts: Script tags necessary to load the JavaScript files and settings
 *   in the head.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    {{ page.head }}
    <title>{{ head_title }}</title>
    <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/7.5/highlight.min.js"></script>
    {{ page.styles }}
  </head>
  <body{{ attributes }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page.content }}
    {{ page_bottom }}
    <div id="videomodal" class="reveal-modal" data-reveal>
      <div class="flex-video">
        <iframe src="//www.youtube.com/embed/h-BM9Ly34w8?rel=0" frameborder="0" allowfullscreen=""></iframe>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </div>
    <script src="/themes/orkjd8/assets/bower_components/jquery/jquery.min.js?mxlp52"></script>
    <script src="/themes/orkjd8/assets/bower_components/foundation/js/foundation.min.js?mxlp7h"></script>
    {{ page.scripts }}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41112131-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
