<a href="intent://?action=multiplayer&room={{room}}&referrer={{referrer}}#Intent;scheme=fb462788903779716;package=no.morland.roadrage;end" id="intentbutton"></a>
<a href="fb462788903779716://?action=multiplayer&room={{room}}&referrer={{referrer}}" id="iosbutton"></a>
<h3 class="subheader">Trying to start game in room {{room}}...</h3>
<p>This page will automatically start the app on your device if you have it installed. If you are seeing this from a desktop computer, please pick up your mobile device and try to start the app from there.</p>
